Comando de impressão

In [ ]:
print("hello world")

hello world

Entendendo tipos de Dados

In [ ]:
a=1
b=2
print(a+b)
a= "1"
b="2"
print(a+b)

3
12

  Comando de Entrada de dados

In [ ]:
Nome = input("Entre com o seu nome ")
Idade = input("Entre com a sua idade ")
# Idade = int(input("Entre com a sua idade "))
ano = 2024 - int(Idade)
print("Nome:", Nome)
print("Idade:", Idade)
print("Ano de nascimento:", ano)

Entre com o seu nome Ana
Entre com a sua idade 19
Nome: Ana
Idade: 19
Ano de nascimento: 2005

Calcular média com IF

In [ ]:
NI = float(input("Entre com a nota de NI:"))
PI = float(input("Entre com a nota de PI:"))
PO = float(input("Entre com a nota de PO:"))
MF =(0.20*NI+0.30*PI+0.50*PO)
print ("Média Final:", MF)
if MF >= 6:
  print("Aprovado")
elif MF >=4:
  print("Exame, nota mínima 6")
elif MF >=2:
  print("Exame, nota mínima 7")
else:
  print("Reprovado")

Entre com a nota de NI:0
Entre com a nota de PI:1
Entre com a nota de PO:2
Média Final: 1.3
Reprovado

FOR

In [ ]:
for i in range(1,20,2):
  print(i)

Imprimir os n primeiros números pares

In [ ]:
n = int (input("Entre com a quantidade de pares"))
for i in range (n):
  print(i*2)

Lista

In [ ]:
impares = [1,3,5,7,9]
print(impares)
print(impares[0])
print(impares[4])
# imprime até n-1 abaixo
print(impares[2:4])
# imprime todos a partir do indice 2
print(impares[2:])
# imprime todos até o indice 2 (não imprime o indice 2)
print(impares[:2])
# imprime quantos elementos tem
print(len(impares))

In [ ]:
lista = [10,20,30,40,50,60]
print("Tamanho da lista:", len(lista))
for i in range(len(lista)):
  print(i, ":", lista[i])

# muda o valor do elemento de indice 3
lista[3] = 999
# append insere elemento no final da lista
lista.append(-257)
print("Tamanho da lista:", len(lista))
print("Nova lista: ")
for i in range(len(lista)):
  print(i, ":", lista[i])


  print("Tamanho da lista:", len(lista))
  print("Nova lista ordenada:")
  lista.sort()
  for i in range(len(lista)):
    print(i, ":", lista[i])

In [ ]:
letras = ['a', 'b', 'c', 'd', 'e']
print(letras)
letras.append('f')
print(letras)
# insert insere o elemento no indice que eu indicar
letras.insert(3, 'b')
print(letras)
while 'b' in letras:
  letras.remove('b')
print(letras)
# remove o primeiro b
# letras.remove('b')
# print(letras)

In [ ]:
import random as rnd
lista = [] #cria lista vazia
for i in range(10):
  x = rnd.randint(1,100)
  lista.append(x)
  print(lista)

[40]
[40, 4]
[40, 4, 76]
[40, 4, 76, 3]
[40, 4, 76, 3, 83]
[40, 4, 76, 3, 83, 59]
[40, 4, 76, 3, 83, 59, 13]
[40, 4, 76, 3, 83, 59, 13, 40]
[40, 4, 76, 3, 83, 59, 13, 40, 87]
[40, 4, 76, 3, 83, 59, 13, 40, 87, 47]